@use "reset";

// Variable overrides first
$primary: rgb(224, 144, 16);
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #121212;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body{
    background-color: rgb(238, 238, 238);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    justify-content: center;
    column-gap: 40px;
    row-gap: 20px;
    padding-bottom: 3rem;
    padding-top: 2rem;
    text-align: center;

  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    
    justify-content: center;
    column-gap: 80px;
    row-gap: 40px;
    padding-bottom: 5rem;
    padding-top: 2rem;
    align-items: center;
    
  }

  h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Nothing You Could Do', cursive;
    padding-top: 3%;
    background: -webkit-linear-gradient(8.5deg, #9D8DF1 , #9D8DF1  ,  #1CFEBA , #1CFEBA );
     -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  h2{
    font-family: 'Oswald', sans-serif;
    color: #505050;
  }

hr{
  width: 15%;
  justify-content: center;
}

.home{
  a:hover {
    color: #1CFEBA
  }
    text-decoration: none 
}


.text{
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Cormorant Infant', serif;
  background: -webkit-linear-gradient(8.5deg, #8c7ae1 , #816edc  ,  #08ca90 , #08ca90  );
     -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.active{
  background: -webkit-linear-gradient(8.5deg, #8c7ae1 , #816edc  ,  #08ca90 , #08ca90  );
}

.text1{
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Alexandria', sans-serif;
}


.font{
    font-size: 1rem;
    color: #121212;
    text-align: center;
}

footer{
  color: #121212;
    text-align: center;
    padding-bottom: 2rem;
}

nav{
    color: #121212;
    text-align: center;
}
img{
    background-color: #73d7e5;
    box-shadow: 10px 10px;
    padding: 2rem;
    width: 75%;
    a{
      width: 75%;
    }
}

@media(max-width: 768px)
    {
        .grid-container{
            grid-template-columns: auto;
            gap: 25px;
        }
        .grid-container2{
          grid-template-columns: auto;
          gap: 15px;
        }
        .separate > picture:nth-child(2){
          margin-bottom: 2rem;
        }
    }

a{
     color: #51e1b6;
}
  a:hover, a:active, a:focus {
    color: #9D8DF1;
  }


  .separate > picture:nth-child(1) {
    margin-bottom: 2rem;
  }
  


//Product card:
  .card {
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
   background-color: rgb(234, 234, 234);
    text-align: center;
  }
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    
  }
  .price {
    color: rgb(64, 64, 64);
    font-size: 22px;
    font-family: 'Noto Serif Khojki', serif;
  }
  .card > button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    
  }
  .card button:hover {
    opacity: 0.7;
  }
