{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">

  {% include "navigation.njk" %}


<div class="center2">
<h1>401</h1>
<h2>Access denied</h2>
</div>
</main>
{% endblock %}