---
layout: base.njk
title: Flip flops
---


<main>

    <div class="box">
        <a class="home" href="/">
            <h1> Flip Flops </h1>

            <hr>
            <p class="text"> Put Your Flip in the Flop </p>
        </a>
    </div>

<form class="p-4 p-md-5 border rounded-3 bg-light" action="/index" method="POST">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        <hr class="my-4">
        <small class="text-muted">Don't have an account <a class="black link" href="/register">Click here</a></small>
      </form>
  

    <div class="grid-container">

        {% asyncAll product in flipflops %}
        <!-- <pre>{{ product | dump(2) }}</pre> !-->

        
            <div>
                <h2 style="text-align:center">{{ product.name }}</h2>
                <a href="/flipflops/{{ product.name | slug }}">
                    {% set imageUrl = "./src/img/" + product.name + "/" + product.images[0].url %}
                    {% image imageUrl, product.images[0].alt %}

                </a>
                <div class="card">
                    <p class="price">{{ product.price }}Kr</p>
                    <p class="text1">{{ product.description }}</p>
                </div>
            </div>
            {% endall %}
        </div>

</main>





<footer>
    <h3>Bättre GYARB Hemsida</h3>
    <p>
        Den här sidan är gjord som ett experiment för att kolla hur effektiv en app kallad
    </p>
    <p>
        Ligthhouse är för att förbättra SEO värdet på en hemsida.
    </p>
</footer>


