{% extends "layout.njk" %}
{% block content %}
<main class="container mt-3">

  {% include "navigation.njk" %}

  <div class="grid-container container">

    {% for products in rows %}


    <div>
      <h2 style="text-align:center">{{ products.name }}</h2>
      <a href="/flipflops/{{ products.name }}">
        {% set imageUrl = "public/img/" + products.name + "/" + products.picture %}
        <img src="/img/{{ products.name }}/{{ products.picture }}">
      </a>

      <div class="card container">
        <p class="price">{{ products.price }}Kr</p>
        <p class="text1">{{ products.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}