{% extends "layout.njk" %}
{% block  content %}

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
       
        <div class="home">
            <h1> Flip Flops </h1>
            <hr>
            <div>
            <p class="text"> Put Your Flip in the Flop </p>
          </div>
        </div>
    
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link"></a></li>
        
      </ul>
    </header>

    <div class="grid-container">
    
    

      <h2>Warp</h2> <h2>SuperDry Orange</h2> <h2>SuperDry Black</h2> 
      <center>
      <a href="/sneakers/vision"><img src="img/Warp/Warp.webp" alt=""></a> 
  </center>
  <center>
      <a href="/sneakers/court-platform"><img src="img/SuperDry Orange/SuperDry Orange.webp" alt=""></a> 
  </center>
  <center>
       <a href="/sneakers/waffle"><img src="img/SuperDry Black/SuperDry Black.webp" alt=""></a>
      </center>
  
  <center>
       <div class="center">
       <div class="card">
          <p class="price">79.90Kr </p>
          <p class="text1">Flip-flops, Stl. 31-38, Remmar i PVC-fritt gummi, Sula i PE-material</p>
        </div>
      </div>
  </center>
  <center>
        <div class="center">
        <div class="card">
          <p class="price">149Kr </p>
          <p class="text1">Flip-flops, Herrstorlekar, Remmar i gummi, Sula i EVA och gummi</p>
        </div>
      </div>
  </center>
  <center>
        <div class="center">
        <div class="card">
          <p class="price">149Kr </p>
          <p class="text1"> Flip-flops, Herrstorlekar, Remmar i gummi, Sula i EVA och gummi </p>
        </div>
      </div>
  </center>

          <h2>Roxy Brown</h2> <h2>Roxy</h2> <h2>Quicksilver</h2>
  
      <center>
        <a href="/sneakers/court-vision"><img src="img/Roxy Brown/Roxy Brown.png" alt=""></a>  
      </center>
      <center> 
     <a href="/sneakers/waffle-Debut"><img src="img/Roxy/Roxy.png" alt=""></a>
  </center>
  <center>
     <a href="/sneakers/match"><img src="img/Quicksilver/Quicksilver.png" alt=""> </a> 
  </center>


<center>
     <div class="center">
     <div class="card">
      <p class="price">299Kr </p>
      <p class="text1">   Flip-flops,  Damstorlekar, Remmar i syntetskinn, Innersula i EVA-material, Yttersula i gummi  </p>
    </div>
  </div>
</center>
<center>
    <div class="center">
    <div class="card">
      <p class="price">129Kr </p>
      <p class="text1">  Flip-flops, Juniorstorlekar, Remmar i TPU-material, Yttersula och fotbädd i gummi      </p>
    </div>
  </div>
</center>
<center>
    <div class="center">
    <div class="card">
      <p class="price">199Kr </p>
      <p class="text1">  Flip-flops, Herrstorlekar, Ovandel i bomullscanvas, Anatomisk fotbädd med fotvalvsstöd, Mönstrad yttersula i EVA och gummi, Innerfoder i vattentålig polyester </p>
    </div>
  </div>
</center>

    

{% endblock %}