{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">

  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

      <div class="home">
        <h1> Flip Flops </h1>
        <hr>
        <div>
          <p class="text"> Put Your Flip in the Flop </p>
        </div>
      </div>

    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>

    </ul>
  </header>

    <h1>{{ title }}</h1>
</main>
{% endblock %}