{% extends "layout.njk" %}
{% block content %}
{%set title = products.name %}

<main class="container mt-3">

  {% include "navigation.njk" %}


  {% for products in rows %}

  <div class="grid-container2 container">

    <div class="separate">
      {% set imageUrl = "./src/img/" + products.name + "/" + products.picture %}
      <img src="/img/{{ products.name }}/{{ products.picture }}">


      {% set imageUrl = "./src/img/" + products.name + "/" + products.picture2 %}
      <img src="/img/{{ products.name }}/{{ products.picture2 }}">


    </div>

    <div>
      <div class="card1 container">
        <p class="price">{{ products.name }} är {{ products.price }}kr</p>
        <div class="text1">
          <p>Beskrivning:</p>
          <p>{{ products.description }}</p>
        </div>
      </div>

      <a href="{{ products.link }}">
        <div class="card2 container">
          <button>Original Site</button>
        </div>
      </a>

        <div class="card2 container">
          <button class="btn" id="add-button" 
          data-productpicture="{{ products.picture }}" 
          data-productname="{{ products.name }}"
          data-productprice="{{ products.price }}">
          Add to basket</button>
        </div>

    </div>
  </div>
  {% endfor %}

</main>
{% endblock %}