{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">
  {% include "navigation.njk" %}

 <div class="center">
    <h1>{{ title }}</h1>
    <p>Username: {{ name }}</p>
        <button class="btn btn-primary" type="submit"><a class="black" href="/logout">Logout</a></button>
        <button class="btn btn-primary" type="submit"><a class="black" href="/delete">Delete User</a></button>
      </div>
</main>
{% endblock %}